{{define "mail"}}<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Activité Wekan du {{.From.Format "02/01/2006"}}</title>
    </head>
    <body>
      <h1>Activité Wekan du {{.From.Format "02/01/2006"}}</h1>
      Bonjour,<br/>
      <br/>
      Cet email vous est envoyé automatiquement tous les matins pour vous présenter l'activité Wekan de la veille.<br/>
      Ces notifications couvrent les ajouts de commentaires sur les cartes auxquelles vous participez.
      
      {{range $boardId, $board := .Boards}}
      <h3><a href="https://wekan.signaux-faibles.beta.gouv.fr/b/{{$board.Id}}/{{$board.Slug}}">{{$board.Title}}</a></h3>
        <ul>
        {{range $cardId, $card := $board.Cards}}
          <li><a href="https://wekan.signaux-faibles.beta.gouv.fr/b/{{$board.Id}}/{{$board.Slug}}/{{$cardId}}">{{$card.RaisonSociale}}</a></li>:
          {{$card.Actions}} commentaire(s).
            ({{range $user, $nil := $card.Utilisateurs}}
            <a href="mailto:{{$user.Email}}">{{$user.Name}}</a> 
            {{end}})
            
        {{end}}
        </ul>
      {{end}}
      <br/>
      Bonne Journée !
    </body>
</html>
{{end}}